/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700

*/

:root {
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Kumbh Sans', sans-serif;
    color: black;
}

section{
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card {
    width: 350px;
    border-radius: 20px;
    background: white;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card-body{
    padding: 0 20px 25px;
}

.card-header {
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
}

.image-holder{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: -50px auto 30px auto;

}

.image-holder img {
    width: 100%;
    height: auto;
    display: block;
}

.name-age {
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.age,
.city,
.meta {
    font-weight: 400;
    color: black;
    opacity: .5;

}

.city {
    font-size: .9rem;
}

.age {
    font-weight: 400;
    margin-left: 6px;
}

.card-footer {
    border-top: 1px solid whitesmoke;
    display: flex;
    padding: 0 25px;;
}

.card-footer .item {
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*Graphics */

 .circle .c1,
 .circle .c2{
     position: absolute;
     animation: 2s circle forwards;
     opacity: 0;
 }

 .circle .c1{
     top: -450px;
     left: -325px;
     transform: translate(-100px, -50px);

 }

 .circle .c2{
    bottom: -450px;
    right: -325px;
    transform: translate(100px, 50px);
 }

@keyframes circle{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}